<html xmlns:th="http://www.thymeleaf.org">
<head >
    <div th:fragment="header-css">
        <meta charset="UTF-8">
        <title>Jivas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rufina:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{css/font-awesome.css}"/>
        <link rel="stylesheet" th:href="@{css/style.css}"/>
    </div>
</head>
<body>
</div>
</body>
</html>