<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jivas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="./assets/css/bootstrap.css"> -->
    <link rel="stylesheet" th:href="@{css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="wrap-login">
        <div class="login">
            <div class="login__image">
            </div>
            <div class="login__form">
                <form class="form-block" th:action="@{/forgot_password}" th:method="post" th:object="${userObj}">
                    <h4 class="form-block__title" th:text="#{forgotTittle}">Reset your password</h4>
                    <div class="alert alert-error" th:if="${#fields.hasErrors('email')}" th:text="#{email.error}" ></div>
                    <div class="wrap-input">
                        <label for="email" class="form__label"><i class="fas fa-envelope"></i></label>
                        <input type="text" id="email" class="form-block__input" th:field="*{email}"
                               th:placeholder="#{emailAddress}" autocomplete="off" th:errorclass="error-border">
                    </div>
                    <button type="submit" class="my-btn form-block__btn" th:text="#{submit}">Send password reset email
                    </button>
                    <h4 class="form__forgot">
                        <span th:text="#{alreadyAccount}">Already Have An</span>
                        <a th:href="@{/login}" class="forgot__link" th:text="#{createAccount}">&nbsp;Account&nbsp;?</a>
                    </h4>
                    <h4 class="form__register">
                        <span th:text="#{login.create}">Create your </span>
                        <a th:href="@{/register}" class="forgot__link" th:utext="#{createAccount}">Account</a>
                    </h4>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>
