<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jivas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="./assets/css/bootstrap.css"> -->
    <link rel="stylesheet" th:href="@{css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="wrap-login">
        <div class="login">
            <div class="login__image">
            </div>
            <div class="login__form">
                <form class="form-block" th:action="@{/login}" method="post">
                    <h4 class="form-block__title" th:text="#{memberLogin}">Member Login</h4>
                    <div class="alert-input" >userName
                        Error
                    </div>

                    <div class="wrap-input mb-2">
                        <label for="username" class="form__label"><i class="fas fa-user"></i></label>
                        <input type="text" name="username" id="username" class="form-block__input"
                               th:placeholder="#{username}" autocomplete="off">
                        <!--                        <div class="alert alert-danger" th:if="${param.error}">-->
                        <!--                        <div class="alert alert-warning" th:if="${param.logout}">-->
                    </div>

                    <div class="wrap-input mb-2">
                        <label for="password" class="form__label"><i class="fas fa-lock"></i></label>
                        <input type="password" name="password" class="form-block__input" id="password"
                               th:placeholder="#{password}">

                    </div>

                    <button type="submit" class="my-btn form-block__btn" th:text="#{login}">Login</button>
                    <h4 class="form__forgot">
                        <span th:text="#{forgot}">Forgot</span>
                        <a th:href="@{/forgot_password}" class="forgot__link" th:text="#{login.password}"></a>
                    </h4>
                    <h4 class="form__register">
                        <span th:text="#{login.create}">Create your </span>
                        <a th:href="@{/register}" class="forgot__link" th:utext="#{createAccount}">Account</a>
                    </h4>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- jQuery first, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="./assets/js/bootstrap.js"></script> -->
<script type="text/javascript" th:href="@{js/main.js}"></script>
</body>
</html>
