<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jivas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="wrap-login">
        <div class="login">
            <div class="login__image">
            </div>
            <div class="login__form">
                <form class="form-block" th:action="@{/login}" method="post">
                    <h4 class="form-block__title" th:text="#{memberLogin}">Member Login</h4>
                    <div class="alert alert-error" th:if="${param.logout}" th:text="#{logoutSuccess}"></div>
                    <div class="alert alert-error" th:if="${param.error}" th:text="#{loginError}"></div>
                    <div class="wrap-input mb-1">
                        <label for="username" class="form__label"><i class="fas fa-user"></i></label>
                        <input type="text" name="username" id="username" class="form-block__input"
                               th:placeholder="#{username}">
                    </div>

                    <div class="wrap-input mb-1">
                        <label for="password" class="form__label"><i class="fas fa-lock"></i></label>
                        <input type="password" name="password" class="form-block__input" id="password"
                               th:placeholder="#{password}">
                    </div>

                    <button type="submit" class="my-btn form-block__btn" th:text="#{login}">Login</button>
                    <h4 class="form__forgot">
                        <span th:text="#{forgot}">Forgot</span>
                        <a th:href="@{/forgot_password}" class="forgot__link" th:text="#{login.password}"></a>
                    </h4>
                    <h4 class="form__register">
                        <a th:href="@{/oauth2/authorization/facebook}" class="btn btn-lg btn-success"
                           style="align : center">Continue with Facebook</a><br>
                        <a th:href="@{/oauth2/authorization/google}" class="btn btn-lg btn-success"
                           style="align : center">Continue with Google</a><br>
                        <a th:href="@{/oauth2/authorization/github}" class="btn btn-lg btn-success"
                           style="align : center">Continue with GitHub</a>
                        <a th:href="@{/connect/facebook}" class="btn btn-lg btn-success"
                           style="align : center">Continue with Facebook</a><br>
                        <span th:text="#{login.create}">Create your </span>
                        <a th:href="@{/register}" class="forgot__link" th:utext="#{createAccount}">Account</a>
                    </h4>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>
