<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jivas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="wrap-login">
        <div class="login">
            <div class="login__image">
            </div>
            <div class="login__form">
                <form th:action="@{/reset_password}" th:object="${userObj}" th:method="post" class="form-block">
                    <h4 class="form-block__title" th:text="#{resetYourPassword}">Reset your password</h4>
                    <div class="alert alert-error" th:if="${#fields.hasErrors('username')}" th:error="*{username}"></div>
                    <div class="wrap-input">
                        <label for="username" class="form__label"><i class="fas fa-user"></i></label>
                        <input type="text" name="username" id="username" class="form-block__input"
                               th:placeholder="#{username}" th:field="*{username}" autocomplete="off" readonly="true">
                    </div>
                    <div class="wrap-input">
                        <label for="password" class="form__label"><i class="fas fa-lock"></i></label>
                        <input type="password" name="password" id="password" class="form-block__input"
                               th:placeholder="#{password}" th:field="*{password}" autocomplete="off"
                               th:errorclass="error-border">
                        <label for="confirm-password" class="form__label form__error"
                               data-toggle="tooltip" data-placement="auto"
                               th:if="${#fields.hasErrors('password')}" name="password"
                               th:errorclass="error-form">
                            <i class="fas fa-exclamation"></i></label>
                    </div>
                    <div class="wrap-input">
                        <label for="confirm-password" class="form__label"><i class="fas fa-lock"></i></label>
                        <input type="password" name="email" id="confirm-password" class="form-block__input"
                               th:placeholder="#{confirmPassword}" th:field="*{matchingPassword}" autocomplete="off"
                               th:errorclass="error-border">
                        <label for="confirm-password" class="form__label form__error"
                               data-toggle="tooltip" data-placement="auto"
                               th:if="${#fields.hasErrors('matchingPassword')}" name="matchingPassword"
                               th:errorclass="error-form">
                            <i class="fas fa-exclamation"></i></label>
                    </div>
                    <button type="submit" class="my-btn form-block__btn" th:text="#{updatePassword}">Update password
                    </button>
                    <h4 class="form__forgot">
                        <span th:text="#{alreadyAccount}">Already Have An</span>
                        <a th:href="@{/login}" class="forgot__link" th:text="#{createAccount}">&nbsp;Account&nbsp;?</a>
                    </h4>
                    <h4 class="form__register">
                        <span th:text="#{login.create}">Create your </span>
                        <a th:href="@{/register}" class="forgot__link" th:utext="#{createAccount}">Account</a>
                    </h4>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- jQuery first, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:href="@{js/main.js}"></script>
</body>
</html>
