<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jivas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body class="page-template-default page page-id-108 woocommerce theme-dokan woocommerce-js dokan-theme-dokan">

<!-- <div id="page" class="hfeed site"> -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container"><a href="https://themes.getbootstrap.com" class="navbar-brand">Bootstrap Themes</a>
        <div class="d-flex ml-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar"
                    aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="globalNavbar">
            <form class="form-inline form-navbar my-2 my-lg-0 order-2" action="https://themes.getbootstrap.com/shop/">
                <input class="form-control" name="s" type="text" placeholder="Search">
            </form>
            <ul class="navbar-nav mr-auto order-1">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#"
                                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div class="navbar-collapse navbar-top-collapse">
                            <ul id="menu-top-menu" class="nav navbar-nav">
                                <li id="menu-item-601"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-601">
                                    <a title="Admin &amp; Dashboard"
                                       href="https://themes.getbootstrap.com/product-category/admin-dashboard/">Admin
                                        &amp; Dashboard</a></li>
                                <li id="menu-item-603"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-603">
                                    <a title="Landing &amp; Corporate"
                                       href="https://themes.getbootstrap.com/product-category/landing-corporate/">Landing
                                        &amp; Corporate</a></li>
                                <li id="menu-item-1537"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1537">
                                    <a title="Application"
                                       href="https://themes.getbootstrap.com/product-category/application/">Application</a>
                                </li>
                                <li id="menu-item-602"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-602">
                                    <a title="E-Commerce &amp; Retail"
                                       href="https://themes.getbootstrap.com/product-category/ecommerce-retail/">E-Commerce
                                        &amp; Retail</a></li>
                                <li id="menu-item-1538"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1538">
                                    <a title="Portfolio &amp; Blog"
                                       href="https://themes.getbootstrap.com/product-category/portfolio-blog/">Portfolio
                                        &amp; Blog</a></li>
                                <li id="menu-item-1539"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1539">
                                    <a title="Specialty"
                                       href="https://themes.getbootstrap.com/product-category/specialty/">Specialty</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://themes.getbootstrap.com/official-themes">Why Our
                    Themes?</a></li>
                <li class="nav-item"><a class="nav-link" href="https://themes.getbootstrap.com/guide">The Guide</a></li>
            </ul>
            <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                <li class="nav-item"><a class="nav-link" href="https://themes.getbootstrap.com/signin/">Sign in</a></li>
                <li class="nav-item"><a class="nav-link" href="https://themes.getbootstrap.com/my-account/">Sign up</a>
                </li>
            </ul>
            <ul class="navbar-nav d-lg-none">
                <li class="nav-item-divider"></li>
                <li class="nav-item"><a class="nav-link" href="https://themes.getbootstrap.com/signin/">Sign in</a></li>
                <li class="nav-item"><a class="nav-link" href="https://themes.getbootstrap.com/my-account/">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main id="main" class="site-main main">
    <section class="section">
        <div class="container">
            <div class="row">
                <div id="primary" class="content-area col-md-8 mx-auto">
                    <div id="content" class="site-content" role="main">


                        <article id="post-108" class="post-108 page type-page status-publish hentry">
                            <header class="entry-header">
                                <h1 class="entry-title">Terms of Service</h1>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p>Below are our Terms of Service, which outline a lot of legal goodies, but the bottom
                                    line is it’s our aim to always take care of both you, as a customer, or as a seller
                                    on our platform. We’ve included many of these terms to legally protect ourselves,
                                    but if you have an issue, always feel free to email us at themes@getbootstrap.com
                                    and we’ll do our best to resolve it in a fair and timely fashion.</p>
                                <ol>
                                    <li><strong>Application of Terms</strong>
                                        <ol>
                                            <li>By visiting and/or taking any action on Bootstrap Themes, you confirm
                                                that you are in agreement with and bound by the terms outlined below.
                                                These terms apply to the website, emails, or any other communication.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Themes</strong>
                                        <ol>
                                            <li>All products are 100% digital and delivered electronically to your
                                                email.
                                            </li>
                                            <li>Bootstrap Themes is not responsible for you not receiving your theme if
                                                you fail to provide a valid email or for technical issues outside our
                                                control.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Security &amp; Payments</strong>
                                        <ol>
                                            <li>All payments are processed securely through PayPal or Stripe. Bootstrap
                                                Themes does not directly process payments through the website.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Refunds</strong>
                                        <ol>
                                            <li>You have 14 days to evaluate your purchase. If your purchase fails to
                                                meet expectations set by the seller, or is critically flawed in some
                                                way, contact Bootstrap Themes and we will issue a full refund pending a
                                                review.
                                            </li>
                                            <li>The issue of refunds is at the complete discretion of Bootstrap
                                                Themes.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Support</strong>
                                        <ol>
                                            <li>Support for a purchase is governed by the usage license you purchase.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Ownership</strong>
                                        <ol>
                                            <li>Ownership of the product is governed by the usage licenses.</li>
                                        </ol>
                                    </li>
                                    <li><strong>Membership &amp; Content</strong>
                                        <ol>
                                            <li>Membership is a benefit for those who follow our terms and policies. We
                                                may at any time suspend or terminate your account.
                                            </li>
                                            <li>We can view and/or remove any content for any reason at our own
                                                discretion. This will typically only be exercised for issues needing
                                                immediate resolution, such as, but not limited to, the posting of
                                                unauthorized content, offensive content, illegal content, or anything
                                                breaching anyone else’s rights.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Liability</strong>
                                        <ol>
                                            <li>You indemnify us against all losses, costs (including legal costs),
                                                expenses, demands or liability that we incur arising out of, or in
                                                connection with, any claims against us relating to your use of Bootstrap
                                                Themes.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Requesting, Modifying or Deleting Your Data (GDPR)</strong>
                                        <ol>
                                            <li>We are a small operation, but we work hard to make sure your data
                                                remains safe and we only collect what is needed to provide our services.
                                                If you want to request an export of your data, a modification to any
                                                data we have related to your account, or delete of all data permanently,
                                                please email themes@getbootstrap.com and we’ll complete your request in
                                                a timely manner.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Changes to terms</strong>
                                        <ol>
                                            <li>If we change our terms of use we will post those changes on this page.
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div><!-- .entry-content -->
                        </article><!-- #post-108 -->


                    </div><!-- #content .site-content -->
                </div><!-- #primary .content-area -->

            </div>
        </div>
    </section>
</main>

<!-- #main .site-main -->
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__item">
                <form action="//getbootstrap.us13.list-manage.com/subscribe/post?u=e3428dd6b8fda73bc5ba8b6e6&amp;id=198881a019"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"
                      novalidate="">
                    <div class="d-md-flex justify-content-between align-items-center">
                        <div class="form-group">
                            <h5 class="mb-1">Get new themes in your inbox!</h5>
                            <div class="form-text mt-0">New themes or big discounts. Never spam.</div>
                        </div>
                        <div id="signup_footer" class="d-flex align-items-start">
                            <div class="form-group w-100 mr-2">
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                          name="b_e3428dd6b8fda73bc5ba8b6e6_198881a019"
                                                                                                          tabindex="-1"
                                                                                                          value="">
                                </div>
                                <input id="mce-EMAIL" class="footer__email-input form-control form-control--muted"
                                       name="EMAIL" type="email" aria-describedby="footerEmail"
                                       placeholder="Email address">
                            </div>
                            <input class="btn btn-brand" type="submit" value="Subscribe" name="subscibe"
                                   id="mc-embedded-subscribe">
                        </div>
                    </div>
                </form>
            </div>
            <div class="footer__item d-lg-flex justify-content-lg-between align-items-lg-center">
                <ul id="menu-seller-footer" class="nav sub-nav footer__sub-nav">
                    <li id="menu-item-1333"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1333"><a
                            title="Help Center" href="https://themes.zendesk.com/hc/en-us">Help Center</a></li>
                    <li id="menu-item-1335"
                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-108 current_page_item menu-item-1335 active">
                        <a title="Terms of Service" href="https://themes.getbootstrap.com/terms/">Terms of Service</a>
                    </li>
                    <li id="menu-item-1334"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1334"><a
                            title="Licenses" href="https://themes.getbootstrap.com/licenses/">Licenses</a></li>
                    <li id="menu-item-49443"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49443"><a
                            title="Sell Themes" href="https://themes.getbootstrap.com/sell/">Sell Themes</a></li>
                </ul>
                <p class="hidden-sm-down d-none d-lg-block">Trying to redownload a theme? Use our <a
                        href="https://themes.getbootstrap.com/redownload/">redownload page.</a></p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>